extends layout

block title
    | about

block content
    section.section
        .container.box
            p.title About toki-pona-helper
            p.is-marginless This website is not officially associated with toki pona or Sonja Lang in any way.
            p.is-marginless The word lists used are based on <a href='https://github.com/jan-Lope/Toki_Pona_lessons_English'>lessons created by jan Lope</a> released under a <a href='https://github.com/jan-Lope/Toki_Pona_lessons_English/blob/master/LICENSE'>GPL-3.0 license</a>.
            p.is-marginless This website is open source at <a href='https://github.com/jsmnbom/toki-pona-helper'>Github</a> and released under a <a href='https://github.com/jsmnbom/toki-pona-helper/blob/master/LICENSE'>GPL-3.0 license</a>.
            p.is-marginless The <a href="https://commons.wikimedia.org/wiki/File:Toki_pona.svg">toki pona logo</a> is created by <a href="http://en.wikipedia.org/wiki/User:Eequor">wikipedia user Eequor</a> and is licensed under a <a href="https://en.wikipedia.org/wiki/en:GNU_Free_Documentation_License">GNU-FDL license</a>.
            p.is-marginless The tutor on this website is heavily inspired by the <a href="https://www.memrise.com">memrise website</a>.
            p.is-marginless The sitelen toki pona (hieroglyph) font is created by <a href="https://github.com/janSame/linja-pona">jan Same</a> and improved by <a href="https://github.com/davidar/linja-pona">davidar</a>.