extends layout

block title
    | toki pona dictionary

block content
    section.section#dictionary
        .container.box
            p.title.has-text-centered English &lt;-&gt; toki pona dictionary
            form(action='javascript:void(0);')#search
                .field.has-addons
                    .control.is-expanded
                        input.input(type='text' placeholder='search...' name='query')
                    .control
                        input.button.is-primary(type='submit' value="Search")
            table.table.is-hoverable.is-fullwidth.is-striped#table
                thead
                    tr
                        th toki pona
                        th English
                tbody