footer.footer
    .content.has-text-centered
        p.is-marginless This website is not officially associated with toki pona or Sonja Lang in any way.
        p.is-marginless
            | The word lists used are based on
            |
            a(href='https://github.com/jan-Lope/Toki_Pona_lessons_English') lessons created by jan Lope
            |
            | released under a
            |
            a(href='https://github.com/jan-Lope/Toki_Pona_lessons_English/blob/master/LICENSE') GPL-3.0 license
            | .
        p.is-marginless This website is open source at Github and released under a GPL-3.0 license.
