extends layout

block title
    | toki pona

block content
    section.hero.is-bold.is-small.is-primary
        .hero-body
            .container
                .columns
                    .column
                        h1.title Hello!
                        h2.subtitle Welcome to this toki pona helper
                        p Scroll down to see all this page has to offer.
                    .column
                        h1.title toki!
                        h2.subtitle kama pona lon toki pona sona ilo
                        p sina lukin anpa la sina ken lukin e ilo ken

    section.section.is-small
        .container
            p.title.has-text-centered.is-3.is-marginless Vocabulary
            .columns.is-centered
                .column.is-half
                    p.subtitle.has-text-centered Learn toki pona using active recall techniques - a bit like how flash cards work.

            .tile.is-ancestor.button-tiles
                .tile.is-vertical
                    .tile
                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    .ribbon.is-success beginner
                                    p.title.is-5 Official words
                                    p Train the 125 root toki pona words. This is a good place to start as a beginner.
                                    a.button.is-primary(href='tutor.html?type=single') Train simple words!
                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    .ribbon.is-warning hard
                                    p.title.is-5 Compound training
                                    p Train some definitions of commonly used compound toki pona words.
                                    a.button.is-primary(href='tutor.html?type=multi') Train compound words!
                    .tile
                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    .ribbon.is-warning hard
                                    p.title.is-5 Proper nouns
                                    p Train proper toki pona nouns.
                                    a.button.is-primary(href='tutor.html?type=proper-noun') Train proper nouns!

                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    .ribbon.is-danger expert
                                    p.title.is-5 Full sentences
                                    p Train full toki pona sentences.
                                    a.button.is-primary(href='tutor.html?type=sentence') Train sentences!

    section.section.is-small
        .container
            p.title.has-text-centered.is-3.is-marginless Writing systems/sign language
            .columns.is-centered
                .column.is-half
                    p.subtitle.has-text-centered Learn ways of communicating in toki pona, without writing latin letters.

            .tile.is-ancestor.button-tiles
                .tile.is-vertical
                    .tile
                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    .ribbon.is-warning hard
                                    p.title.is-5
                                        span.icon
                                            i.fas.fa-image
                                        span Hieroglyphs #[span.has-text-grey.is-size-6 (sitelen pona)]
                                    p Train toki pona hieroglyphs, as they appear in the official toki pona book.
                                    a.button.is-primary(href='tutor.html?type=sitelen') Train sitelen pona!
                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    .ribbon.is-danger expert+
                                    p.title.is-5
                                        span.icon
                                            i.fas.fa-sign-language
                                        span Sign language #[span.has-text-grey.is-size-6 (toki pona luka)]
                                    p Train toki pona sign langauge, as described in the official toki pona book.
                                    p (Not yet implemented)
                                    //a.button.is-primary(href='tutor.html?type=sign') Train toki pona luka!

    section.section.is-small
        .container
            p.title.has-text-centered.is-3.is-marginless Tools
            .columns.is-centered
                .column.is-half
                    p.subtitle.has-text-centered Various tools to help you in your toki pona adventures.

            .tile.is-ancestor.button-tiles
                .tile.is-vertical
                    .tile
                        .tile.is-parent
                            .tile.is-child
                                .box
                                    p.title.is-5
                                        span.icon
                                            i.fas.fa-globe
                                        span English &lt;-&gt; toki pona dictionary
                                    p A full english to/from toki pona dictionary - even has sentence examples.
                                    a.button.is-primary(href='dictionary.html') Go to dictionary!
                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    p.title.is-5
                                        span.icon(style='width: 2rem;')
                                            i.fas.fa-language
                                        span Text to sitelen pona converter
                                    p A simple tool to convert text into toki pona hieroglyphs (sitelen pona).
                                    a.button.is-primary(href='tutor.html?type=sign') Go to converter!