extends layout

block title
    | toki pona

block content
    section.hero.is-bold.is-medium.is-primary
        .hero-body
            .container
                .columns
                    .column.has-text-centered
                        h1.title Hello!
                        h2.subtitle Welcome to this toki pona helper
                        p This tool can help you learn toki pona. It does this by using...
                    .column.has-text-centered
                        h1.title toki!
                        h2.subtitle kama pona lon toki pona sona ilo
                        p ilo ni li ken sona e toki pona tawa sina. ni li kepeken...

    section.section.is-small
        .container
            p.title.has-text-centered.is-3 Vocabulary

            .tile.is-ancestor.button-tiles
                .tile.is-vertical
                    .tile
                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    .ribbon.is-success beginner
                                    p.title.is-5 Official words
                                    p Train the 125 root toki pona words. This is a good place to start as a beginner.
                                    a.button.is-primary(href='tutor.html?type=single') Train simple words!
                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    .ribbon.is-warning hard
                                    p.title.is-5 General words
                                    p.is-flex Train general toki pona vocabulary.
                                    a.button.is-primary(href='tutor.html?type=multi') Train harder words!
                    .tile
                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    .ribbon.is-warning hard
                                    p.title.is-5 Proper nouns
                                    p.is-flex Train proper toki pona nouns.
                                    a.button.is-primary(href='tutor.html?type=proper-noun') Train proper nouns!

                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    .ribbon.is-danger expert
                                    p.title.is-5 Full sentences
                                    p Train full toki pona sentences.
                                    a.button.is-primary(href='tutor.html?type=sentence') Train sentences!

    section.section.is-small
        .container
            p.title.has-text-centered.is-3 Writing systems/sign language

            .tile.is-ancestor.button-tiles
                .tile.is-vertical
                    .tile
                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    .ribbon.is-warning hard
                                    p.title.is-5
                                        span.icon
                                            i.fas.fa-image
                                        span Hieroglyphs #[span.has-text-grey.is-size-6 (sitelen pona)]
                                    p Train toki pona hieroglyphs, as they appear in the official toki pona book.
                                    a.button.is-primary(href='tutor.html?type=sitelen') Train sitelen pona!
                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    .ribbon.is-danger expert
                                    p.title.is-5
                                        span.icon
                                            i.fas.fa-sign-language
                                        span Sign language #[span.has-text-grey.is-size-6 (toki pona luka)]
                                    p.is-flex Train toki pona sign langauge, as described in the official toki pona book. (Not yet implemented)
                                    a.button.is-primary(href='tutor.html?type=sign') Train toki pona luka!

    section.section.is-small
        .container
            p.title.has-text-centered.is-3 Tools

            .tile.is-ancestor.button-tiles
                .tile.is-vertical
                    .tile
                        .tile.is-parent
                            .tile.is-child
                                .box
                                    p.title.is-5
                                        span.icon
                                            i.fas.fa-globe
                                        span English <-> toki pona dictionary
                                    p A full english to/from toki pona dictionary - even has sentence examples.
                                    a.button.is-primary(href='dictionary.html') Go to dictionary!
                        .tile.is-parent
                            .tile.is-child
                                .box.has-ribbon
                                    p.title.is-5
                                        span.icon(style='width: 2rem;')
                                            i.fas.fa-language
                                        span Text to sitelen pona converter
                                    p.is-flex A simple tool to convert text into toki pona hieroglyphs (sitelen pona).
                                    a.button.is-primary(href='tutor.html?type=sign') Go to converter!