doctype html
html(lang='en')
    head
        block head
            title
                block title
            base(href=baseHref)
            meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        include navbar

        block content

        include footer