extends layout

block title
    | toki pona text to sitelen pona converter

block content
    section.section
        .container.box
            p.title.has-text-centered Text to sitelen pona converter
            .columns
                .column.is-half
                    .field
                        label.label Text
                        .control.is-expanded
                            textarea.textarea.is-primary(type='text' spellcheck="false")#text_input
                .column.is-half
                    .field
                        label.label Font size
                        .control
                            input.input(type="number" value='40')#font_size_input
                    .field
                        label.checkbox
                            input(type='checkbox' checked)#wrap_input
                            |
                            | Wrap text
                    .field.is-grouped
                        //p.control
                        //    button.button.is-primary#copy_button Copy to clipboard
                        p.control
                            button.button.is-primary#download_button Download
                        p.control
                            button.button.is-info#help_button Help
            .box.is-primary#output_box
                canvas.linja-pona#canvas
    .modal#help_modal
        .modal-background#modal_background
        .modal-content
            .box.content
                p.title Sitelen pona converter help
                p
                    | Use hyphens to make compound words.
                    |
                    span.is-family-monospace kala-ali
                    |
                    | turns into
                    |
                    span.linja-pona.is-size-2 kala-ali
                p
                    | Use square brackets and underscores to create cartouches.
                    |
                    span.is-family-monospace [_toki_o_sike_nimi]
                    |
                    | turns into
                    |
                    span.linja-pona.is-size-2 [_toki_o_sike_nimi]
        button.modal-close.is-large#modal_close