p.title.is-2.has-text-centered #{word}
p.subtitle.is-6.has-text-centered !{help}

.columns.is-centered
    .column.is-half
        .menu.word-list
            ul.menu-list.has-text-centered
                each val, index in definitions
                    li: a(href="#")
                        span.is-pulled-left.has-text-grey-light= index+1
                        span= val
