@charset "utf-8";

@import 'bulma';
@import 'bulma-ribbon.sass';
@import "github-corner";


// Make footer stick to bottom
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > .section {
    flex: 1
  }
}

.auto-scroll-x {
  overflow-x: auto;
}

#dictionary .table {
  margin-top: 1rem;
}

.button-tiles {
  .is-child .box {
    height:100%;
    display: flex;
    flex-direction: column;
    p:last-of-type {
      margin-bottom: 1rem;
    }
    .button {
      margin-top: auto;
    }

  }
}

@import 'tutor';