@charset "utf-8";

// Set your brand colors
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$footer-padding: 3rem 1.5rem 3rem;

@import "~bulma/bulma";

@import "github-corner";


// Make footer stick to bottom
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > .section {
    flex: 1
  }
}


.menu.word-list {
  border: #00d1b2 2px solid;
  border-radius: 4px;

  li:not(:last-child) {
    border-bottom: #dbdbdb 1px solid;
  }

  li.is-wrong {
    background-color: $danger;

    a {
      color: $danger-invert;
    }
  }

  li.is-correct {
    background-color: $success;

    a {
      color: $success-invert;
    }
  }

  li.is-correct a:hover, li.is-wrong a:hover {
    background-color: inherit;
  }
}


.tutor-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .tutor-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: center;
  }
}


.progress-stacked {
  border: none;
  border-radius: 50px;
  height: 1rem;
  padding: 0;
  width: 100%;
  display: flex;
  margin-bottom: 1.5rem;
  background: $grey;
  overflow: hidden;

  .progress-item {
    height: 1rem;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }

  .progress-item.is-success {
    background: $success;
  }

  .progress-item.is-danger {
    background: $danger;
  }

  .progress-item.is-primary {
    background: $primary;
  }

  .progress-item.is-info {
    background: $info;
  }

  .progress-item.is-warning {
    background: $warning;
  }
}


.field.is-grouped.is-spaced {
  margin-top: 1rem;
}


.tooltip {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: .4rem .8rem;
  background: rgba($grey-dark, 0.9);
  border-radius: 5px;
  color: $white;
  max-width: 24rem;
  font-size: $size-7;
  margin-bottom: 5px;
}

.tooltip-arrow {
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: rgba($grey-dark, 0.9);
  border-style: solid;
  position: absolute;
  border-width: 5px 5px 0 5px;
  bottom: -5px;
  margin: 0 5px;
}


@font-face {
  font-family: linja-pona;
  src: url('../font/linja-pona-4.0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.linja-pona {
  font-family: linja-pona, sans-serif;
  font-feature-settings: "liga" 1, "clig" 1, "calt" 1, "kern" 1, "mark" 1;
  text-rendering: optimizeLegibility;
  line-height: 1.25;
}


#selectSitelen {
  margin-bottom: 1rem;

  .box {
    border: #00d1b2 2px solid;
    border-radius: 4px;

    .tile {
      display: flex;
    }

    .tile.is-parent {
      padding: 0;

      .tile:not(:last-child) {
        border-right: #dbdbdb 1px solid
      }

      .tile:hover {
        background-color: whitesmoke;
        color: #363636;
      }

      .tile.is-wrong {
        background-color: $danger;
        color: $danger-invert;
      }

      .tile.is-correct {
        background-color: $success;
        color: $success-invert;
      }


      .tile {
        justify-content: stretch;

        span:last-child {
          padding: 1rem;
          flex-grow: 1;
          text-align: center;
        }

        span:first-child {
          position: absolute;
          padding-left: 3px;
          padding-top: 1px;
        }
      }
    }

    .tile.is-ancestor:not(:last-child) {
      border-bottom: #dbdbdb 1px solid
    }
  }
}