@charset "utf-8";

@import 'bulma';

@import "github-corner";


// Make footer stick to bottom
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > .section {
    flex: 1
  }
}

.auto-scroll-x {
  overflow-x: auto;
}

#dictionary .table {
  margin-top: 1rem;
}

@import 'tutor';